.photo {
    background-color: #fff;
    padding: 15px;
    margin: 20px;
    border-radius: 5px;
}
.photo a {
    display: block;
}
.photo button {
    width: 100%;
    height: 30px;
    margin: 5px 0;
    border-radius: 5px;
    margin-top: 10px;
}
