.header {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 50px;
    margin-top: 10px;
}

.container {
    width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.container svg {
    padding: 5px 20px;
}

.loginBlock {
    float: right;
}
