body {
  background-color: rgba(147, 243, 198, 0.39);
  width: 800px;
  margin: auto;
}
.app-wrapper {
  background-color: rgb(147, 216, 243);
  height: 100vh;
}
.app-nav {
  background-color: rgb(210, 233, 146);
  margin: 10px;
}
.conteiner {
  display: flex;
}
.content {
  width: 100%;
}
.link_ava {
  background-color: rgb(66, 113, 175);
  width: 100%;
  height: 200px;
  margin-top: 10px;
}
